<h1 align="center">Pokemon Gold. Channel: <%= @game %>. User: <%= @userName %>.</h1>
<script>
  window.gameName = "<%= @game %>";
  window.userName = "<%= @userName %>";
</script>
<div id="game">
  Loading...
</div>
