<div id="padit"></div>
<p class="userdetails">Channel: <%= @game %>.<br>User: <%= @userName %>.</p>
<img src="/images/poke-logo.png" class="logo" style="width:15%"><br>
<script>
  window.gameName = "<%= @game %>";
  window.userName = "<%= @userName %>";
</script>
<div id="game">
  Loading...
</div>
