/* This file is for your main application css. */
@import "bootstrap";

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.players div {
  float: left; 
  clear: none;
  width: 50%;
  text-align: center;
}

#centered_buttons {
  display: flex;
  justify-content: center;  
}


.progress-label {
  float: left;
  margin-right: 1em;
}

.space {
  padding: 200px;

}


body {
  background-color: #81E1FE;
}
