/* This file is for your main application css. */
@import "bootstrap";

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.players div {
  float: left;
  clear: none;
  width: 50%;
  text-align: center;
}

.centered_buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}


.progress-label {
  float: left;
  margin-right: 1em;
}

.space {
  padding: 25px;

}

.talk-bubble {
  background-color: white;
  border: solid;
  border-radius: 25px;
  padding: 20px;
  margin-top:10px;
}

.progress-bar {
    // border: solid;
    font-weight: bold;
    font-style: italic;
}

.progress {
  height: 25px;
  border-radius: 25px;
}
//
// #progressbar .progress {
//   background-color: green;
//   border-radius: 4px;
//   height: 100%;
//   border: solid;
//
// }

//
// #progressbar {
//   width: 100%;
//   height: 50px;
//   border-radius: 4px;
//   background-color: lightgrey;
//   padding: 10px;
// }
//
// #progressbar .progress-text {
//     position:absolute;
//     z-index:2;
//     right:0;
//     padding: 10px;
// }

#attack-row {
  margin-top: 40px;
}

.atk-container {
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  padding: 17px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: minmax(30px, 120px) minmax(30px, 120px);
  grid-template-rows: minmax(30px, 50px) minmax(30px, 50px);
  grid-gap: 20px;
  text-align: center;
  color: white;
  justify-content: center;
}

.btn.btn-info.atk {
  font-size: 13px;
  font-weight: bold;
}

.btn.btn-warning.atk {
  font-size: 13px;
  font-weight: bold;
}

#dialog {
  font-weight: bold;
  font-size: 1em;
}

body {
  background-color: #81E1FE;
  background-image: url("/images/poke-background.png");
  background-size: cover;
}

.skill-bar {
	background-color: #F5F5F5;
    width: 700px;
    height: 40px;
    border: solid;
    border-radius: 25px;
}

#testrow {
  border: solid;
}

#pc-dmg-txt {
    font-weight: bolder;
    color: black;
}

.mover {
    margin-top:1.3px;
    width: 70px;
    height: 25px;
    /* background-image: url("https://www.pokethmon.com/images/pokeball.png"); */
    background-color:red;
    // border: solid;
    border-radius: 25px;
    /* background-position: center center; */
    padding: 16px;

    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.paused {
  width: 70px;
  height: 70px;
  /* background-image: url("https://www.pokethmon.com/images/pokeball.png"); */
  background-color:red;
  // border: solid;
  border-radius: 25px;
  /* background-position: center center; */
  padding: 20px;
  position: relative;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    100% {background-color:green; left:623px; top:0px;}
}

/* Standard syntax */
@keyframes example {
     0%   {background-color:red; left:0px; top:0px;}
    100% {background-color:green; left:623px; top:0px;}
}

#p2hp {
  width: 100%;
}

#p1hp {
  width: 100%;
}

#p1en, #p2en {
    width: 5%;
}

#poke1img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: left;
  margin-left: -10%;
}

#poke2img {
  float: right;
  margin-right: -5%;
}
.poke-img {
}

// #pokeball {
//   position: relative;
//   margin-left: -5%;
//   -webkit-animation-name: poketran; /* Safari 4.0 - 8.0 */
//   -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
//   -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
//   // -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
//   -webkit-animation-timing-function: linear;
//   animation-name: poketran;
//   animation-duration: 0.7s;
//   animation-iteration-count: 1;
//   // animation-direction: alternate-reverse;
//   animation-timing-function: linear;
// }

#pokeball1{

}

#poke-turn {
  float: left;
  position: relative;
}

#skilltags{
    margin-bottom: -2%;
    // width: 700px;
    margin-top: -3%;
    text-align: center;
    color: black;
    font-weight: bolder;
    // -webkit-text-stroke: 1px black;
}

.userdetails {
  position: absolute;
  top: 0px;
  right: 18%;
  text-align: right;
  margin-top:10px;
}

#sound {
  position: absolute;
  top: 8%;
  right: 18%;
  width: 70%;
  text-align: right;
}
#sound-img {
  width: 2.5%;
}

#padit {
    margin-top: 10px;
}

#pokeball2{
  float: right;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes poketran {
    0%   {left:0px; top:0px;}
    100% {left:650px; top:0px;}
}

/* Standard syntax */
@keyframes poketran {
     0%   {left:0px; top:0px;}
    100% {left:650px; top:0px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes revpoketran {
    0%   {left:650px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes revpoketran {
     0%   {left:650px; top:0px;}
    100% {left:0px; top:0px;}
}

.popup-content {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  opacity: 1;
  background-color: white;

}

.play-again {

  padding: 15px 32px;
  background-color: darkgreen;
  color: white;
  font-size: 20px;
  font-weight: bold;

}

.popup {
  background-color: white;
  border: 10px solid black;
  width: 40%;
  height: 40%;
  position: absolute;
  z-index:1000;
  margin: auto;
  top: 50%;
  text-align: center;
  padding: 40px;
  vertical-align:text-top;
  left: 50%;
  transform: translate(-50%, -50%);

}

#game-btn {
  margin-right: 5%;
}

.col.index-label {
  font-size: 1.1em;
  vertical-align: middle;
  display: table-cell;
  padding-top: 8px;
  text-align: right;
}

.col.index-input {
  text-align: left;
  margin-bottom: 1%;
}

.form-control.index {
  width: 50%;
  margin: 0px;
  display: block;
}

#inst-button {
  color: black;
  position: absolute;
}
