/* This file is for your main application css. */
@import "bootstrap";

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.players div {
  float: left;
  clear: none;
  width: 50%;
  text-align: center;
}

.centered_buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}


.progress-label {
  float: left;
  margin-right: 1em;
}

.space {
  padding: 25px;

}

.talk-bubble {
  background-color: white;
  border: solid;
  border-radius: 25px;
  padding: 20px;
  margin-top:30px;
}

.progress-bar {
    border: solid;
    font-weight: bold;
    font-style: italic;
}

#progressbar .progress {
  background-color: green;
  border-radius: 4px;
  height: 100%;
  border: solid;

}


#progressbar {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: lightgrey;
  padding: 10px;
}

#progressbar .progress-text {
    position:absolute;
    z-index:2;
    right:0;
    padding: 10px;
}


.atk-container {
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  padding: 20px;
  border-radius: 25px;
  display: grid;
  margin-top:30px;
  grid-template-columns: minmax(50px, 150px) minmax(50px, 150px);
  grid-template-rows: minmax(30px, 50px) minmax(30px, 50px);
  grid-gap: 20px;
  justify-content: center;
}

#dialog {
  font-weight: bold;
  font-size: 1em;
}

body {
  background-color: #81E1FE;
  background-image: url("/images/poke-background.png");
  background-size: cover;
}

.skill-bar {
	background-color: black;
    width: 700px;
    height: 60px;
    border: solid;
    border-radius: 25px;
    // position: fixed;
}

.mover {
    width: 70px;
    height: 55px;
    /* background-image: url("https://www.pokethmon.com/images/pokeball.png"); */
    background-color:red;
    // border: solid;
    border-radius: 25px;
    /* background-position: center center; */
    padding: 20px;

    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.paused {
  width: 70px;
  height: 70px;
  /* background-image: url("https://www.pokethmon.com/images/pokeball.png"); */
  background-color:red;
  // border: solid;
  border-radius: 25px;
  /* background-position: center center; */
  padding: 20px;
  position: relative;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    100% {background-color:yellow; left:623px; top:0px;}
}

/* Standard syntax */
@keyframes example {
     0%   {background-color:red; left:0px; top:0px;}
    100% {background-color:yellow; left:623px; top:0px;}
}

#p2hp {
  width: 100%;
  border: solid;
}

#p1hp {
  width: 100%;
}

#p1en, #p2en {
    width: 5%;
}

#poke1img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: left;
}

#poke2img {
  float: right;
  margin-right: 40px;
}
.poke-img {
}

// #pokeball {
//   position: relative;
//   margin-left: -5%;
//   -webkit-animation-name: poketran; /* Safari 4.0 - 8.0 */
//   -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
//   -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
//   // -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
//   -webkit-animation-timing-function: linear;
//   animation-name: poketran;
//   animation-duration: 0.7s;
//   animation-iteration-count: 1;
//   // animation-direction: alternate-reverse;
//   animation-timing-function: linear;
// }

#pokeball1{

}

#pokeball2{
  float: right;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes poketran {
    0%   {left:0px; top:0px;}
    100% {left:650px; top:0px;}
}

/* Standard syntax */
@keyframes poketran {
     0%   {left:0px; top:0px;}
    100% {left:650px; top:0px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes revpoketran {
    0%   {left:650px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes revpoketran {
     0%   {left:650px; top:0px;}
    100% {left:0px; top:0px;}
}

.container {
  border: solid;
}
